*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background: linear-gradient(135deg, #ebfef3, #b3f9cd);
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper{
    background: white;
    border-radius: 20px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.2);
    width: 800px;
    max-width: 100%;
    display: flex;
    overflow: hidden;
}

.form-container{
    width: 50%;
    padding: 40px;
    transition: all 0.3s ease;
}

.form-container h2{
    margin-bottom: 20px;
    color: #27AE60;
}

.form-container form{
    display: flex;
    flex-direction: column;
}
#loginForm{
    display: block;
    padding-top: 130px;
}

.form-container input[type="text"], .form-container input[type="password"], .form-container input[type="email"]{
    margin-bottom: 10px 0;
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: border 0.3s ease;
}

.form-container button.submit-btn{
    background: linear-gradient(to right, #27AE60, #1A5D33);
    color: white;
    padding: 12px;
    border: none;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 15px;
    transition: background 0.3s ease;
}
.toggle-text{
    font-size: 0.9rem;
    color: #555;
    text-align: center;
    margin-top: 20px;
}
.toggle-link{
    color: #27AE60;
    cursor: pointer;
    text-decoration: underline;
}

.form-container button.submit-btn:hover{
    background: linear-gradient(to left, #1A5D33, #27AE60);
}

.toggle-container{
    width: 50%;
    background: linear-gradient(to bottom right, #27AE60, #1A5D33);
}

.form-container.login{
    display: none;
}

.wrapper.active .form-container.login{
    display: block;
}

.wrapper.active .form-container.signup{
    display: none;
}
.forgot-password{
    margin-top: 8px;
    color: #27AE60;
    font-size: 0.9rem;
    cursor: pointer;
    align-self: flex-start;
    text-decoration: underline;
}

.accept-terms{
    user-select: none;
    margin-top: 10px;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.accept-terms input[type="checkbox"]{
    margin-right: 8px;
}

.form-input{
    margin-bottom: 10px;
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: border 0.3s ease;
}

.accept-terms-checkbox{
    margin-right: 8px;
}

.back-container{
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}
.back-button{
    width: 24px;
    height: 24px;
    margin-right: 8px;
    color: #27AE60;
}
.back-container h1{
    font-size: 1rem;
    color: #27AE60;
    user-select: none;
}

@media (max-width: 768px){
    .wrapper{
        flex-direction: column;
    }
    .form-container, .toggle-container{
        width: 100%;
    }
    .toggle-container{
        padding: 20px;
    }
}